<!-- privacy-policy.component.html -->

<div class="container mx-auto my-8">
  <h1 class="text-3xl font-semibold mb-4">Privacy Policy</h1>

  <p class="mb-4">
    Benvenuto nella nostra Informativa sulla Privacy di PassTheInterview. Questa
    esaustiva dichiarazione è stata attentamente formulata per fornirti una
    comprensione completa di come gestiamo le informazioni personali raccolte
    attraverso il nostro sito web. Il rispetto per la tua privacy è al centro
    della nostra filosofia, e ci impegniamo a garantire la massima trasparenza e
    sicurezza nei confronti delle tue informazioni personali. Raccogliamo
    informazioni per offrirti un'esperienza personalizzata e migliorare
    costantemente i nostri servizi. Comprendiamo l'importanza dei tuoi dati
    personali e ci adoperiamo per garantirne la sicurezza e la riservatezza.
    Continua a leggere per conoscere nel dettaglio le pratiche che adottiamo in
    termini di raccolta, utilizzo, divulgazione e protezione delle informazioni
    personali. La tua fiducia è fondamentale per noi e siamo impegnati a
    proteggere la tua privacy attraverso misure di sicurezza avanzate e rigorose
    politiche di gestione dei dati. In questa Informativa, esploreremo insieme
    come manteniamo la tua privacy al sicuro mentre utilizzi i nostri servizi.
    Siamo consapevoli della velocità con cui si evolvono le tecnologie e le
    normative sulla privacy. Pertanto, ci impegniamo a mantenere questa
    Informativa sempre aggiornata per riflettere i cambiamenti nelle leggi, nei
    nostri servizi e nelle esigenze della nostra crescente community. Ti
    invitiamo a leggere attentamente questa pagina per comprendere appieno le
    nostre pratiche e come esse possano influenzare la tua esperienza con
    PassTheInterview. Grazie per la tua fiducia in PassTheInterview. Prosegui
    nella lettura per scoprire come proteggiamo e gestiamo le tue informazioni
    personali nel rispetto delle più elevate norme di sicurezza e riservatezza.
  </p>

  <!-- Aggiungi qui il testo della tua Privacy Policy -->

  <h2 class="text-2xl font-semibold mt-6 mb-4">Informazioni che raccogliamo</h2>
  <p class="mb-4">
    Raccogliamo esclusivamente l'indirizzo email fornito volontariamente dagli
    utenti durante il processo di registrazione o durante l'iscrizione ai nostri
    servizi. Questo dato è essenziale per garantire l'accesso completo e
    personalizzato alle risorse offerte da PassTheInterview. La decisione di
    fornire l'indirizzo email è volontaria, ma potrebbe essere necessaria per
    beneficiare appieno delle funzionalità del nostro sito web. Utilizzo delle
    Informazioni: L'indirizzo email raccolto viene utilizzato in modo
    responsabile e finalizzato a migliorare la tua esperienza su
    PassTheInterview. Le principali modalità di utilizzo includono: Accesso e
    Autenticazione: L'indirizzo email è utilizzato come identificatore unico per
    consentire l'accesso sicuro al tuo account e per garantire che solo tu possa
    fruire delle risorse personalizzate offerte dalla piattaforma.
    Comunicazioni: Potremmo utilizzare l'indirizzo email per inviare
    comunicazioni importanti relative al tuo account, come conferme di
    registrazione, aggiornamenti di servizio o notifiche riguardanti modifiche
    alle nostre politiche. Personalizzazione: L'indirizzo email può essere
    utilizzato per personalizzare la tua esperienza su PassTheInterview,
    fornendo consigli, contenuti rilevanti e opportunità di apprendimento basate
    sulle tue preferenze e sulle tue attività passate. Condivisione delle
    Informazioni: L'indirizzo email fornito non sarà mai venduto, noleggiato o
    condiviso con terze parti senza il tuo consenso esplicito. La tua privacy è
    di fondamentale importanza per noi, e ci impegniamo a proteggere le tue
    informazioni personali. L'accesso all'indirizzo email sarà limitato al
    nostro team autorizzato e sarà utilizzato esclusivamente per gli scopi
    dichiarati nella presente Informativa sulla Privacy. Tuttavia, è importante
    notare che potremmo condividere le tue informazioni se richiesto per
    rispettare le leggi applicabili o in risposta a ordini delle autorità
    competenti.
  </p>

  <!-- Aggiungi ulteriori sezioni della Privacy Policy come necessario -->

  <h2 class="text-2xl font-semibold mt-6 mb-4">
    Modifiche alla Privacy Policy
  </h2>
  <p class="mb-4">
    Riserviamo il diritto di apportare modifiche a questa Privacy Policy in
    qualsiasi momento e per qualsiasi motivo. Aggiorneremo la data della "Last
    Updated" in fondo a questa pagina in caso di modifiche significative.
  </p>

  <!-- Aggiungi altre sezioni della Privacy Policy se necessario -->

  <p class="mt-8">
      Data dell'ultima modifica: {{ dataUltimaModifica }}
    </p>
</div>
