<main class="container mx-auto my-8">
  <section class="p-4 bg-white shadow-lg rounded-lg mb-5 text-center">
    <h1 class="text-4xl font-bold mb-4">Benvenuto su TechInterview Prep!</h1>
    <p class="text-xl mb-4">
      Preparati per il tuo prossimo colloquio tecnico e ottieni il lavoro dei
      tuoi sogni.
    </p>
    <p class="text-lg mb-4">
      Il nostro sito offre una vasta gamma di domande tecniche, risorse e
      strumenti per aiutarti a superare il tuo colloquio tecnico.
    </p>
    <button
      routerLink="/registration"
      type="button"
      class="text-white focus:ring-4 focus:outline-none font-medium rounded-2xl text-sm px-4 py-2 text-center mr-3 md:mr-0 bg-gray-800 hover:bg-gray-500 focus:ring-blue-800 border transition-all duration-300"
    >
      Inizia ora
    </button>
  </section>

  <section class="p-4 bg-white shadow-lg rounded-lg">
    <h1 class="text-center text-3xl font-bold my-4">
      Preparati ai colloqui tecnici con Java
    </h1>
    <p class="text-center my-4">
      Esercitati con le domande tecniche più frequenti e ottieni il lavoro che
      desideri
    </p>
    <div class="gap-4 mb-6">
      <!-- <div class="flex justify-center">
                <img src="https://via.placeholder.com/100x100" class="rounded-full" alt="Un programmatore Java">
            </div> -->
      <div class="flex flex-col justify-center">
        <h2 class="text-xl font-bold">
          Esercitati con le domande tecniche più frequenti
        </h2>
        <p>
          Il nostro sito ti offre un database di domande tecniche da colloquio
          Java, suddivise per categoria e livello di difficoltà. Puoi
          esercitarti in qualsiasi momento e da qualsiasi luogo, per prepararti
          al meglio per il tuo prossimo colloquio.
        </p>
      </div>
    </div>
    <!-- <div class="flex justify-center">
            <img src="https://via.placeholder.com/100x100" class="rounded-full" alt="Un candidato a un colloquio">
        </div> -->
    <div class="flex flex-col justify-center">
      <h2 class="text-xl font-bold">Ottieni il lavoro che desideri</h2>
      <p>
        Essere preparati per un colloquio tecnico è fondamentale per avere
        successo. Con il nostro sito, puoi aumentare le tue possibilità di
        ottenere il lavoro che desideri.
      </p>
    </div>
    <div class="text-center mt-5">
      <button
        routerLink="/registration"
        type="button"
        class="text-white focus:ring-4 focus:outline-none font-medium rounded-2xl text-sm px-4 py-2 text-center mr-3 md:mr-0 bg-gray-800 hover:bg-gray-500 focus:ring-blue-800 border transition-all duration-300"
      >
        Inizia ora
      </button>
    </div>
  </section>

  <section class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Cosa offriamo</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-white p-4 shadow-lg rounded-lg">
        <h3 class="text-xl font-semibold mb-2">Domande Tecniche</h3>
        <p class="text-gray-600">
          Accedi a una vasta raccolta di domande tecniche frequenti e sfide di
          programmazione per migliorare le tue abilità.
        </p>
      </div>
      <div class="bg-white p-4 shadow-lg rounded-lg">
        <h3 class="text-xl font-semibold mb-2">Simulazioni di Colloquio</h3>
        <p class="text-gray-600">
          Pratica le tue abilità con simulazioni di colloqui interattive e
          ricevi feedback dettagliati per migliorare.
        </p>
      </div>
    </div>
  </section>

  <section class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Come Funziona</h2>
    <ol class="list-decimal list-inside">
      <li class="text-lg mb-2">
        Scegli un argomento o una tecnologia per la tua preparazione.
      </li>
      <li class="text-lg mb-2">
        Esercitati con le domande tecniche e le sfide di programmazione.
      </li>
      <li class="text-lg mb-2">
        Partecipa alle simulazioni di colloquio e migliora le tue abilità.
      </li>
      <li class="text-lg mb-2">
        Ottieni il feedback necessario per avere successo nel tuo colloquio
        tecnico.
      </li>
      <li class="text-lg mb-2">
        Raggiungi i tuoi obiettivi professionali e ottieni il lavoro che
        desideri!
      </li>
    </ol>
  </section>

  <section class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Testimonianze</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-white p-4 shadow-lg rounded-lg">
        <blockquote class="italic text-gray-600">
          "Grazie a TechInterview Prep ho superato il mio colloquio tecnico e ho
          ottenuto il lavoro dei miei sogni. Consiglio vivamente questo sito!"
        </blockquote>
        <p class="text-gray-800 mt-2">- Maria, Sviluppatrice Software</p>
      </div>
      <div class="bg-white p-4 shadow-lg rounded-lg">
        <blockquote class="italic text-gray-600">
          "La varietà di domande e le simulazioni di colloquio mi hanno aiutato
          a migliorare le mie competenze e la mia fiducia. Grazie mille!"
        </blockquote>
        <p class="text-gray-800 mt-2">- Marco, Ingegnere Informatico</p>
      </div>
    </div>
  </section>
</main>
